* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 120px;
    width: auto;
}

.nav-header {
    display: inline-block;
    float: top;
}